@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }
    .filter-box {
        right: -237px;
    }

    .for__item {
        height: 265px;
            &_big {
            height: 268px;
        }
    }
    .products__title_second {
        margin-top: 64px;
    }
    .products__content {
        column-gap: 29px;
        row-gap: 38px;
    }
    .catalog-box {
        padding-top: 41px;
        padding-bottom: 64px;
        &__more {
            padding-top: 31px;
            padding-bottom: 65px;
        }
        &__basket {
            padding-top: 32px; 
            padding-bottom: 35px; 
        }
    }
    .footer__logo {
        display: none;
    }
    .basket-box {
        grid-column: 1/-1;
    }
    .basket-form {
        grid-column: span 7;
        &__contacts {
            width: 376px;
        }
    }
}


@media (min-width: 768px) and (max-width: 833px) {
    .center {
    padding-left: 24px;
    padding-right: 24px;
    }
    .products-card {
    max-width: 345px;
    }
    .products__title {
    font-size: 47px;    ;
    }
    .basket-form {
        grid-column: span 7;
        &__contacts {
            width: 376px;
        }
    }
}    


